html {
    width: 100%;
    height: 100%;
    background-color: rgba(83, 83, 83, 0.9);
    /* background-image: linear-gradient(0deg, grey, transparent); */
}

html h1 {
    font-size: 64px;
    text-align: center;
}

html h4 {
    font-size: 24px;
    color: blanchedalmond;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.books {
    background-color: rgb(54, 54, 54);
    border-radius: 16px;
    padding: 16px;
    width: 256px;
    filter: drop-shadow(2px 4px 6px black);
}

.books p {
    font-size: 24px;
    background-color: rgba(95, 95, 95, 0.9);
    border-radius: 8px;
    padding: 8px 16px;
}

.book_img {
    height: 128px;
    width: 196px;
    border-radius: 8px;
}

#content h3 {
    color: blanchedalmond;
}


#likes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#likes img {
    height: 24px;
    width: 24px;
}